<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <style type="text/css">
        body { 
            background-color:gray; 
            color:white;
            font-family: helvetica;
        }
        #github-div {
            background-color: #333;
            margin: 10px auto;
        }
        #github-content-div {
            padding: 1em;
            background-color: #555;
            color: #eee;
        }
    </style>
</head>
<body>
<h1>What is Nick up to?</h1>

This is a collection of the public info that is available about <a href="http://ironboundsoftware.com">Nick Loadholtes</a>. This is a work in progress.
<span>
    <div id="github-div">
        Github events:
        <div id="github-content-div"></div>
    </div>
    <div id="twitter-div">
        Twitter:
        <div id="twitter-content-div"></div>
    </div>
</span>
<script type="text/javascript">
$(document).ready( function() {changetwitter(); changegithub(); });

function changetwitter() {
    $("#twitter-div").css({
        margin: "10px auto",
        backgroundColor:"red"
    });
    $("#twitter-content-div").css({
        padding:"1em",
        backgroundColor:"darkred"
    });
    $("#twitter-content-div").text("Non functional");
}

function changegithub() {
    event_data = $.getJSON('/personal_api/getGitHubEvents/nloadholtes', function(data) {
        outputtext = "";
        for(x=0; x<10; x++){
            row = data[x]
            if(row.type === "WatchEvent") {
                continue
            }
            outputtext += "<li>" + row["repo"].name + " - " + row["created_at"];
            commits = row.payload.commits
            for(y in row.payload.commits) {
                outputtext += "<ol>" + commits[y].message;
                outputtext += " - <a href='https://github.com/" + row["repo"].name + "/commit/" + commits[y].sha + "'>" + commits[y].sha.slice(0,8) + "</a>"
                outputtext += "</ol>"
            }
            outputtext += "</li>"
        }
        $("#github-content-div").html(outputtext);
    });
    console.log(event_data)
}
</script>
</body>
</html>